# Version Control
.git
.gitignore

# Python
__pycache__
*.py[cod]
*.so
.env
.venv
venv
env

# Jupyter and Debugging
notebooks/
.ipynb_checkpoints/

# Data and Logs
data/
logs/
transform/target/
transform/logs/
transform/dbt_packages/
.DS_Store
