# Python
__pycache__/
*.py[cod]
*.so
.venv/
notebooks/
venv/
env/

# Environment
.env
.env.local

# Logs
logs/
*.log

# dbt
transform/target/
transform/logs/
transform/dbt_packages/
transform/.user.yml

# Project Data & Artifacts
data/
docs_output/

# IDE & OS
.DS_Store
.idea/
.vscode/